{
  "bot": {
    "ui": {
      "discord": {
        "botToken": "0123456789abcdefghijklmnop.qrstuv.wxyz0123456789abcdefghijklmn-opqrstuvw",
        "clientId": "01234567890123456789",
        "adminIds": [
          "01234567890123456789"
        ],
        // optional:
        "testGuildIds": [
          "01234567890123456789"
        ]
      }
    },
    "translator": {
      "deepl": {
        "authToken": "01234567-89ab-cdef-0123-456789abcdef"
      }
    },
    "cache": {
      "redis": {
        "url": "redis://abcdefgh:0123"
      }
    },
    // optional:
    "logging": {
      "openTelemetry": {
        "url": "https://abcdefgh:0123/v1/logs",
        // optional:
        "headers": {
          "abcdefgh": "ijklmnop"
        }
      }
    }
  }
}
